* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #000000, #333333); /* Градиент от черного к темно-серому */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile h1 {
    font-size: 1.5em;
}

.profile p {
    font-size: 1em;
    opacity: 0.8;
}

.links {
    margin-top: 20px;
}

.btn {
    display: block;
    text-decoration: none;
    background: white;
    color: black;
    padding: 10px;
    margin: 10px 0;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #ff8c00;
    color: white;
}
